*.pyc
*.swp
*.log
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
py-compile
src/Makefile
src/Makefile.in
src/twobit-gitpoller.conf
src/twobit-gitpoller.init
*pylint.out
